body{
    background-image:url(fundohamburguer.jfif);
    background-repeat: no-repeat;
    background-size: 175%;
    
}
.desc{
    text-align: left;
    position: absolute;
    font-family: 'Lucida Handwriting';
    font-size: 25px;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 4px #000000;
    padding-left: 10 px;
    
}

img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 20px #000000
}

h1{
    text-align: center;
    font-family: "Brush Script MT";
    font-size:75px;
    color: rgb(245, 241, 241);
    text-shadow: 2px 2px 4px #000000;
    padding-left: 10 px;
}

.carrinho{
    color: #faf6f6;
    position: absolute;
    right: 8px;
    bottom: 5px;
    font-size: 35px;
    cursor: pointer;
    height: 60px;
}

#carrinho-principal{
    font-size: 60px;
    color: #000000;
    cursor: pointer;
    padding-left: 80px;
    vertical-align: text-bottom;
     float: right; 
}

#carrinho-principal:hover{
    color: white;
}

.btMaisMenos{
    right: 10px;
    bottom: 20px;
    position: absolute;
}

.btMais, .btMenos{
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

.quantidade{
    position: absolute;
    right: -76px;
    bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 60%;
    font-size: 20px;
}
.carrinho:hover{
    color: #030303;
}

.produto{
    position: relative;
    width: 500px;
    margin-top: 20px;
}

.embrulho{
    display: grid;
    place-items: left;
}

#formulario{
    display: grid;
    place-items: center;
}

label{
    font-size: 14px;
}

input{
    width: 500px;
    height: 20px;
    border: solid #3a3737;
}

#btFinalizar{
    background-color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}


p{
    text-align: left;
    position: absolute;
    font-family: 'Lucida Handwriting';
    font-size: 25px;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 4px #000000;
    padding-left: 10 px;
    top: -10px;
    left: 100px;
    width: 80%;
    box-shadow: 0px 0px 5px #000000;
    
}

 .valor{
    text-align: right;
    float: right;
    margin-right: 10px;
    /* background-color: #0000007d; */
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 2px;
    font-family: "Lucida Handwriting";
}
/*{    background-color: #f7eaef;
    position: absolute;
    top: -8px;
    left: 70px;
    width: 80%;
    height: 73px;
    z-index: -1;
    padding-left: 40px;
    padding-top: 10px;
    border: #ffffff solid 2px;
    font-family: 'Lucida Handwriting';
    box-shadow: 0px 0px 5px #000000;}